<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Mandala5</string>
			<string>Mandala4</string>
			<string>Mandala6</string>
			<string>Mandala7</string>
			<string>Mandala8</string>
			<string>Mandala9</string>
			<string>Mandala10</string>
			<string>Mandala11</string>
			<string>Mandala12</string>
			<string>Mandala13</string>
			<string>Mandala14</string>
			<string>Mandala15</string>
			<string>MandalaR6</string>
			<string>MandalaR7</string>
			<string>MandalaR8</string>
			<string>MandalaR9</string>
			<string>MandalaR10</string>
			<string>Mandala_V2_1</string>
			<string>Mandala_V2_2</string>
			<string>Mandala_V2_3</string>
			<string>Mandala_V2_4</string>
			<string>Mandala_V2_5</string>
			<string>Mandala_V2_6</string>
			<string>Mandala_V2_7</string>
			<string>Mandala_V2_8</string>
			<string>MandalaV2_1</string>
			<string>MandalaV2_2</string>
			<string>MandalaV2_3</string>
			<string>MandalaV2_4</string>
			<string>MandalaV2_5</string>
			<string>MandalaV2_6</string>
			<string>MandalaV2_7</string>
			<string>butterfly8_u82</string>
			<string>flower47_u82</string>
			<string>flower50_u82</string>
			<string>mandala61_u82</string>
			<string>mandala62_u82</string>
			<string>mandala63_u82</string>
			<string>mandala64_u82</string>
			<string>mandala65_u82</string>
			<string>mandala66_u82</string>
			<string>mandala67_u82</string>
			<string>mandala68_u82</string>
			<string>mandala69_u82</string>
			<string>mandala70_u82</string>
			<string>mandala71_u82</string>
			<string>mandala72_u82</string>
			<string>mandala73_u82</string>
			<string>mandala74_u82</string>
			<string>mandala75_u82</string>
			<string>mandala76_u82</string>
			<string>mandala77_u82</string>
			<string>mandala78_u82</string>
			<string>mandala79_u82</string>
			<string>mandala80_u82</string>
			<string>mandala81_u82</string>
			<string>mandala82_u82</string>
			<string>mandala83_u82</string>
			<string>mandala84_u82</string>
			<string>mandala85_u82</string>
			<string>mandala86_u82</string>
			<string>mandala87_u82</string>
			<string>mandala88_u82</string>
			<string>mandala89_u82</string>
			<string>mandala90_u82</string>
			<string>mandala181_u82</string>
			<string>mandala182_u82</string>
			<string>mandala183_u82</string>
			<string>mandala184_u82</string>
			<string>mandala185_u82</string>
			<string>mandala186_u82</string>
			<string>mandala187_u82</string>
			<string>mandala188_u82</string>
			<string>mandala189_u82</string>
			<string>mandala190_u82</string>
			<string>mandala191_u82</string>
			<string>mandala192_u82</string>
			<string>mandala193_u82</string>
			<string>mandala194_u82</string>
			<string>mandalaR8_2_u82</string>
			<string>mandalaR8_3_u82</string>
			<string>mandalaR8_4_u82</string>
			<string>mandalaR9_1_u82</string>
			<string>mandalaR9_2_u82</string>
			<string>mandalaR9_3_u82</string>
			<string>mandalaR9_4_u82</string>
			<string>mandalaR9_5_u82</string>
			<string>mandalaR9_6_u82</string>
			<string>mandalaR9_7_u82</string>
			<string>mandalaR9_8_u82</string>
		</array>
		<key>packIcon</key>
		<string>mandalas</string>
		<key>packName</key>
		<string>MANDALA 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>MandalaV2_8</string>
			<string>MandalaV2_9</string>
			<string>MandalaV2_10</string>
			<string>MandalaV2_11</string>
			<string>MandalaV2_12</string>
			<string>MandalaV2_13</string>
			<string>MandalaV2_14</string>
			<string>MandalaV2_15</string>
			<string>MandalaV2_16</string>
			<string>MandalaV2_17</string>
			<string>MandalaV2_18</string>
			<string>MandalaV2_19</string>
			<string>MandalaV2_26</string>
			<string>MandalaV2_27</string>
			<string>MandalaV2_28</string>
			<string>mandala91_u82</string>
			<string>mandala92_u82</string>
			<string>mandala93_u82</string>
			<string>mandala94_u82</string>
			<string>mandala95_u82</string>
			<string>mandala96_u82</string>
			<string>mandala97_u82</string>
			<string>mandala98_u82</string>
			<string>mandala99_u82</string>
			<string>mandala100_u82</string>
			<string>mandala101_u82</string>
			<string>mandala102_u82</string>
			<string>mandala103_u82</string>
			<string>mandala104_u82</string>
			<string>mandala105_u82</string>
			<string>mandala106_u82</string>
			<string>mandala107_u82</string>
			<string>mandala108_u82</string>
			<string>mandala109_u82</string>
			<string>mandala110_u82</string>
			<string>mandala111_u82</string>
			<string>mandala112_u82</string>
			<string>mandala113_u82</string>
			<string>mandala114_u82</string>
			<string>mandala115_u82</string>
			<string>mandala116_u82</string>
			<string>mandala117_u82</string>
			<string>mandala118_u82</string>
			<string>mandala119_u82</string>
			<string>mandala120_u82</string>
			<string>mandala121_u82</string>
			<string>mandala122_u82</string>
			<string>mandala123_u82</string>
			<string>mandala124_u82</string>
			<string>mandala125_u82</string>
			<string>mandala126_u82</string>
			<string>mandala127_u82</string>
			<string>mandala128_u82</string>
			<string>mandala129_u82</string>
			<string>mandala130_u82</string>
			<string>mandala131_u82</string>
			<string>mandala132_u82</string>
			<string>mandala133_u82</string>
			<string>mandala134_u82</string>
			<string>mandala135_u82</string>
			<string>mandala196_u82</string>
			<string>mandala197_u82</string>
			<string>mandala198_u82</string>
			<string>mandala199_u82</string>
			<string>mandala200_u82</string>
			<string>mandala201_u82</string>
			<string>mandala202_u82</string>
			<string>mandala203_u82</string>
			<string>mandala204_u82</string>
			<string>mandala205_u82</string>
			<string>mandala206_u82</string>
			<string>mandala207_u82</string>
			<string>mandala208_u82</string>
		</array>
		<key>packIcon</key>
		<string>mandala2</string>
		<key>packName</key>
		<string>MANDALA 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>MandalaV2_20</string>
			<string>MandalaV2_21</string>
			<string>MandalaV2_22</string>
			<string>MandalaV2_23</string>
			<string>MandalaV2_24</string>
			<string>MandalaV2_25</string>
			<string>MandalaV2_29</string>
			<string>MandalaV2_30</string>
			<string>MandalaV2_31</string>
			<string>Update_7_37_7</string>
			<string>Update_7_37_8</string>
			<string>Update_7_37_9</string>
			<string>Update_7_37_10</string>
			<string>Update_7_37_11</string>
			<string>Update_7_37_12</string>
			<string>mandala209_u82</string>
			<string>mandalaAdcolb1_u82</string>
			<string>mandalaAdcolb2_u82</string>
			<string>mandalaAdcolb3_u82</string>
			<string>mandalaAdcolb4_u82</string>
			<string>mandalaAdcolb5_u82</string>
			<string>mandalaAdcolb6_u82</string>
			<string>mandalaAdcolb7_u82</string>
			<string>mandalaAdcolb8_u82</string>
			<string>mandalaAdcolb9_u82</string>
			<string>mandalaAdcolb10_u82</string>
			<string>mandalaAdcolb11_u82</string>
			<string>mandalaAdcolb12_u82</string>
			<string>mandalaAdcolb13_u82</string>
			<string>mandalaAdcolb14_u82</string>
			<string>mandalaAdcolb15_u82</string>
			<string>mandalaAdcolb16_u82</string>
			<string>mandalaR9_9_u82</string>
			<string>mandalaR111_u82</string>
			<string>mandalaR112_u82</string>
			<string>mandalaR113_u82</string>
			<string>mandalaR114_u82</string>
			<string>mandalaR115_u82</string>
			<string>mandalaR116_u82</string>
			<string>mandalaR117_u82</string>
			<string>mandalaR118_u82</string>
			<string>mandalaR119_u82</string>
			<string>mandalaR1110_u82</string>
			<string>mandalaR1111_u82</string>
			<string>mandalaR1112_u82</string>
			<string>mandalaR1113_u82</string>
			<string>mandalaR1114_u82</string>
			<string>mandalaR1115_u82</string>
			<string>mandalaR1116_u82</string>
			<string>mandalaR1117_u82</string>
			<string>mandalaR1118_u82</string>
			<string>mandalaR1119_u82</string>
			<string>mandalaR1120_u82</string>
			<string>mandalavol13_1_u82</string>
			<string>mandalavol13_2_u82</string>
			<string>mandalavol13_3_u82</string>
			<string>mandalavol13_4_u82</string>
			<string>mandalavol13_5_u82</string>
			<string>mandalavol13_6_u82</string>
			<string>mandalavol13_7_u82</string>
			<string>mandalavol13_8_u82</string>
			<string>mandalavol13_9_u82</string>
			<string>mandalavol13_10_u82</string>
			<string>mandalavol13_11_u82</string>
			<string>mandalavol13_20_u82</string>
			<string>mandalavol13_21_u82</string>
			<string>mandalavol13_22_u82</string>
			<string>mandalavol13_23_u82</string>
			<string>mandalavol14_14_u82</string>
			<string>mandalavol14_15_u82</string>
			<string>mandalavol14_16_u82</string>
			<string>mandalavol14_17_u82</string>
			<string>mandalavol14_18_u82</string>
			<string>mandalavol14_19_u82</string>
			<string>mandalaR8_1_u82</string>
		</array>
		<key>packIcon</key>
		<string>mandala3</string>
		<key>packName</key>
		<string>MANDALA 3</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>paisley6</string>
			<string>bird1</string>
			<string>bird2</string>
			<string>bird3</string>
			<string>bird4</string>
			<string>bird5</string>
			<string>bird6</string>
			<string>paisley3</string>
			<string>paisley4</string>
			<string>birdR1</string>
			<string>birdR2</string>
			<string>birdR3</string>
			<string>birdR4</string>
			<string>Pelikan</string>
			<string>Pfau</string>
			<string>birdIS7</string>
			<string>birdIS20</string>
			<string>bird_IS9</string>
			<string>bird_IS18</string>
		</array>
		<key>packIcon</key>
		<string>birds</string>
		<key>packName</key>
		<string>BIRDS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>bird_IS8</string>
			<string>bird_IS10</string>
			<string>bird_IS11</string>
			<string>bird_IS12</string>
			<string>bird_IS13</string>
			<string>bird_IS16</string>
			<string>bird_IS14</string>
			<string>bird_IS15</string>
			<string>bird_IS17</string>
			<string>bird_IS19</string>
			<string>update_7_25_1</string>
			<string>update_7_25_2</string>
			<string>Update_7_26_1</string>
			<string>Update_7_26_2</string>
			<string>Update_7_26_3</string>
			<string>update_7_34_1</string>
			<string>update_7_34_2</string>
			<string>update_7_34_3</string>
			<string>update_7_34_4</string>
			<string>update_7_34_5</string>
			<string>update_7_34_6</string>
		</array>
		<key>packIcon</key>
		<string>birds2</string>
		<key>packName</key>
		<string>BIRDS 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>cat2</string>
            <string>cat9</string>
            <string>cat10</string>
            <string>cat11</string>
            <string>Update_7_38_4</string>
            <string>Update_7_38_5</string>
            <string>Update_7_38_6</string>
            <string>Update_7_38_7</string>
			<string>cat1</string>
			<string>cat4</string>
			<string>cat5</string>
			<string>cat6</string>
			<string>cat7</string>
			<string>cat8</string>
		</array>
		<key>packIcon</key>
		<string>cats</string>
		<key>packName</key>
		<string>LOVELY CATS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>ButterflyIS1</string>
            <string>ButterflyIS2</string>
            <string>ButterflyIS23</string>
            <string>ButterflyIS25</string>
			<string>Butterfly1</string>
			<string>Butterfly2</string>
			<string>Butterfly3</string>
			<string>Butterfly4</string>
			<string>paisley5</string>
			<string>animal5</string>
			<string>Butterfly5</string>
			<string>Butterfly6</string>
			<string>butterfly8</string>
			<string>butterfly9</string>
			<string>butterfly10</string>
			<string>butterfly7</string>
		</array>
		<key>packIcon</key>
		<string>butterflies</string>
		<key>packName</key>
		<string>BUTTERFLIES 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>ButterflyIS14</string>
			<string>ButterflyIS15</string>
			<string>ButterflyIS16</string>
			<string>ButterflyIS17</string>
			<string>ButterflyIS18</string>
			<string>ButterflyIS24</string>
			<string>ButterflyIS19</string>
			<string>ButterflyIS20</string>
			<string>ButterflyIS21</string>
			<string>ButterflyIS22</string>
			<string>ButterflyIS26</string>
		</array>
		<key>packIcon</key>
		<string>butterflies2</string>
		<key>packName</key>
		<string>BUTTERFLIES 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>ButterflyIS3</string>
			<string>ButterflyIS4</string>
			<string>ButterflyIS5</string>
			<string>ButterflyIS6</string>
			<string>ButterflyIS7</string>
			<string>ButterflyIS11</string>
			<string>ButterflyIS8</string>
			<string>ButterflyIS9</string>
			<string>ButterflyIS10</string>
			<string>ButterflyIS12</string>
			<string>ButterflyIS13</string>
		</array>
		<key>packIcon</key>
		<string>butterflies3</string>
		<key>packName</key>
		<string>BUTTERFLIES 3</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>Update_7_27_4</string>
            <string>Update_7_27_5</string>
            <string>Lion2</string>
            <string>animal_IS_1</string>
			<string>animal1</string>
			<string>animal2</string>
			<string>animal3</string>
			<string>animal4</string>
			<string>animal6</string>
			<string>sea1</string>
			<string>animalR1</string>
			<string>animalR2</string>
			<string>animalR3</string>
			<string>animalR4</string>
			<string>animalR5</string>
			<string>animalR6</string>
			<string>FOX</string>
		</array>
		<key>packIcon</key>
		<string>animals</string>
		<key>packName</key>
		<string>ANIMALS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>update_7_32_1</string>
            <string>update_7_32_2</string>
			<string>Maske2</string>
			<string>Maske1</string>
			<string>Maske3</string>
			<string>Maske4</string>
			<string>Maske5</string>
			<string>Maske6</string>
			<string>Maske7</string>
			<string>Maske8</string>
			<string>Maske9</string>
			<string>Maske10</string>
		</array>
		<key>packIcon</key>
		<string>masks</string>
		<key>packName</key>
		<string>MASKS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>update_7_34_7</string>
            <string>update_7_34_8</string>
            <string>update_7_34_9</string>
			<string>Woman1</string>
			<string>Woman2</string>
			<string>Woman3</string>
			<string>Woman4</string>
			<string>Woman5</string>
			<string>Woman6</string>
			<string>Woman7</string>
			<string>Woman8</string>
			<string>Woman9</string>
			<string>Woman10</string>
			<string>Woman11</string>
			<string>Woman12</string>
			<string>Woman13</string>
			<string>Woman14</string>
			<string>Woman15</string>
		</array>
		<key>packIcon</key>
		<string>women</string>
		<key>packName</key>
		<string>WOMEN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>FlowerV2_1</string>
            <string>FlowerV2_2</string>
            <string>FlowerV2_3</string>
            <string>FlowerV2_4</string>
            <string>Update_7_27_1</string>
            <string>Update_7_27_2</string>
            <string>Update_7_27_3</string>
            <string>update_7_33_1</string>
            <string>update_7_33_2</string>
			<string>flower6</string>
			<string>flower7</string>
			<string>flower9</string>
			<string>flower8</string>
			<string>flower14</string>
			<string>flower5</string>
			<string>flower12</string>
			<string>flower15</string>
			<string>flower17</string>
			<string>flower20</string>
			<string>flower21</string>
			<string>flower22</string>
			<string>flowerR1</string>
			<string>flowerR2</string>
			<string>flowerR3</string>
			<string>flowerR10</string>
			<string>flowerR4</string>
			<string>flowerR5</string>
			<string>flowerR6</string>
			<string>flowerR7</string>
			<string>flowerR8</string>
			<string>flowerR9</string>
			<string>butterfly1_v8</string>
			<string>butterfly3_v8</string>
			<string>flower1_v8</string>
			<string>flower2_v8</string>
			<string>flower3_v8</string>
			<string>flower5_v8</string>
			<string>flower6_v8</string>
			<string>flower7_v8</string>
			<string>flower8_v8</string>
			<string>flower9_v8</string>
			<string>flower10_v8</string>
			<string>flower12</string>
			<string>flower14</string>
			<string>flower17</string>
			<string>flower22</string>
			<string>flower24</string>
			<string>flower29</string>
			<string>flower30</string>
			<string>flower33</string>
			<string>flower35</string>
			<string>flower36</string>
			<string>flower38</string>
			<string>flower39</string>
			<string>flower45</string>
			<string>flower46</string>
			<string>flower61</string>
			<string>flower62</string>
			<string>flower63</string>
			<string>flower64</string>
			<string>flower65</string>
			<string>flower66</string>
			<string>flower67</string>
			<string>flower68</string>
			<string>flower69</string>
			<string>flower70</string>
			<string>flower71</string>
			<string>flower72</string>
			<string>flower73</string>
			<string>flower74</string>
			<string>flower75</string>
			<string>flower76</string>
			<string>flower77</string>
			<string>flower78</string>
			<string>flower79</string>
			<string>flower80</string>
			<string>flower81</string>
			<string>flower82</string>
			<string>flower83</string>
			<string>flower84</string>
			<string>flower85</string>
			<string>flower86</string>
			<string>flower87</string>
			<string>flower88</string>
			<string>flower89</string>
			<string>flower90</string>
			<string>flower91</string>
			<string>flower92</string>
			<string>flower93</string>
			<string>flower94</string>
			<string>flower95</string>
			<string>flower96</string>
			<string>flowerPat1</string>
			<string>flowerPat2</string>
			<string>flowerPat3</string>
			<string>flowerPat4</string>
			<string>flowerPat5</string>
			<string>flowerPat6</string>
			<string>flowerPat7</string>
			<string>flowerPat8</string>
			<string>flowerPat9</string>
			<string>flowerPattern1</string>
			<string>flowerPattern2</string>
			<string>flowerPattern3</string>
			<string>flowerPattern4</string>
			<string>flowerPattern5</string>
			<string>flowerPattern6</string>
			<string>flowerPattern7</string>
			<string>flowerPattern8</string>
			<string>flowerPattern9</string>
			<string>flowerPattern10</string>
			<string>flowerPattern11</string>
			<string>flowerR1_1</string>
			<string>flowerR1_2</string>
			<string>flowerR1_3</string>
			<string>flowerR1_4</string>
			<string>flowerR1_5</string>
			<string>flowerR1_6</string>
			<string>flowerR1_7</string>
			<string>flowerR1_8</string>
			<string>flowerR1_9</string>
			<string>flowerR1_10</string>
			<string>flowerR1_11</string>
			<string>flowerR1_12</string>
			<string>flowerR1_13</string>
			<string>flowerR1_14</string>
			<string>flowerR1_15</string>
			<string>flowerR1_16</string>
			<string>flowerR1_17</string>
			<string>flowerR1_18</string>
			<string>flowerR1_19</string>
			<string>flowerR1_20</string>
			<string>flowerR121</string>
			<string>flowerR122</string>
			<string>flowerR123</string>
			<string>flowerR124</string>
			<string>flowerR125</string>
			<string>flowerR126</string>
			<string>flowerR127</string>
			<string>flowerR128</string>
			<string>flowerR129</string>
			<string>flowerR130</string>
			<string>flowerR131</string>
			<string>flowerR132</string>
			<string>flowerR133</string>
			<string>flowerR134</string>
			<string>flowerR135</string>
		</array>
		<key>packIcon</key>
		<string>flowers</string>
		<key>packName</key>
		<string>FLOWERS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>Update_7_35_6</string>
            <string>Update_7_35_7</string>
            <string>Update_7_35_8</string>
            <string>Update_7_35_9</string>
			<string>muster1</string>
			<string>muster2</string>
			<string>muster3</string>
			<string>muster4</string>
			<string>muster5</string>
			<string>muster6</string>
			<string>muster7</string>
			<string>muster8</string>
			<string>muster9</string>
			<string>muster10</string>
			<string>muster11</string>
			<string>muster12</string>
			<string>muster13</string>
			<string>muster14</string>
			<string>muster15</string>
			<string>muster16</string>
			<string>muster17</string>
			<string>muster18</string>
			<string>muster19</string>
			<string>muster20</string>
			<string>muster21</string>
			<string>muster22</string>
			<string>muster23</string>
			<string>muster24</string>
			<string>muster25</string>
			<string>muster_26</string>
			<string>muster_27</string>
			<string>muster_28</string>
		</array>
		<key>packIcon</key>
		<string>patterns</string>
		<key>packName</key>
		<string>PATTERNS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>Update_7_26_4</string>
            <string>Update_7_26_5</string>
			<string>sweets1</string>
			<string>sweets2</string>
			<string>sweets3</string>
			<string>sweets4</string>
			<string>sweets5</string>
			<string>sweets6</string>
			<string>sweets7</string>
			<string>sweets8</string>
			<string>sweets9</string>
			<string>sweets10</string>
			<string>sweets11</string>
			<string>sweets12</string>
			<string>sweets13</string>
			<string>sweets14</string>
			<string>sweets15</string>
		</array>
		<key>packIcon</key>
		<string>sweets</string>
		<key>packName</key>
		<string>SWEETS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>PixelArt2</string>
			<string>PixelArt3</string>
			<string>PixelArt4</string>
			<string>PixelArt1</string>
			<string>PixelArt5</string>
			<string>PixelArt6</string>
			<string>PixelArt7</string>
			<string>PixelArt8</string>
			<string>PixelArt9</string>
			<string>PixelArt10</string>
			<string>PixelArt11</string>
			<string>PixelArt12</string>
			<string>PixelArt13</string>
		</array>
		<key>packIcon</key>
		<string>pixelart</string>
		<key>packName</key>
		<string>PIXEL ART</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>fish1</string>
			<string>fish2</string>
			<string>fish3</string>
			<string>fish4</string>
			<string>fish5</string>
			<string>fish6</string>
			<string>fish7</string>
			<string>fish8</string>
			<string>fish9</string>
			<string>fish10</string>
			<string>fish11</string>
			<string>fish12</string>
			<string>fish13</string>
			<string>fish14</string>
			<string>fish15</string>
		</array>
		<key>packIcon</key>
		<string>ocean1</string>
		<key>packName</key>
		<string>OCEAN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal2stk</string>
			<string>bird3stk</string>
			<string>bird8stk</string>
			<string>doodle2stk</string>
			<string>flower2stk</string>
			<string>mandala7stk</string>
			<string>bird13stk</string>
			<string>food2stk</string>
			<string>love2stk</string>
			<string>mandala2stk</string>
			<string>Update_7_29_1</string>
			<string>Update_7_29_2</string>
			<string>Update_7_29_3</string>
			<string>Update_7_29_4</string>
			<string>Update_7_29_5</string>
		</array>
		<key>packIcon</key>
		<string>arttherapy</string>
		<key>packName</key>
		<string>ART THERAPY</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal4stk</string>
			<string>bird10stk</string>
			<string>doodle4stk</string>
			<string>bird5stk</string>
			<string>flower4stk</string>
			<string>sea4stk</string>
			<string>food4stk</string>
			<string>love4stk</string>
			<string>mandala4stk</string>
			<string>mandala9stk</string>
			<string>update_7_28_1</string>
			<string>update_7_28_2</string>
			<string>Update_U_7_38_1</string>
			<string>Update_U_7_38_2</string>
			<string>Update_U_7_38_3</string>
		</array>
		<key>packIcon</key>
		<string>chillout</string>
		<key>packName</key>
		<string>CHILLOUT</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal1stk</string>
			<string>bird1stk</string>
			<string>bird7stk</string>
			<string>doodle1stk</string>
			<string>flower1stk</string>
			<string>food1stk</string>
			<string>love1stk</string>
			<string>mandala1stk</string>
			<string>mandala6stk</string>
			<string>sea1stk</string>
			<string>origami1</string>
			<string>origami6</string>
			<string>origami7</string>
		</array>
		<key>packIcon</key>
		<string>serenity</string>
		<key>packName</key>
		<string>SERENITY</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>update_7_28_3</string>
            <string>update_7_28_4</string>
            <string>update_7_28_5</string>
            <string>update_7_28_6</string>
            <string>update_7_33_3</string>
            <string>update_7_33_4</string>
            <string>update_7_33_5</string>
			<string>SweetHome1</string>
			<string>SweetHome2</string>
			<string>SweetHome3</string>
			<string>SweetHome5</string>
			<string>SweetHome6</string>
			<string>HomeSweet1</string>
			<string>HomeSweet2</string>
			<string>HomeSweet3</string>
			<string>HomeSweet4</string>
			<string>HomeSweet5</string>
			<string>HomeSweet6</string>
			<string>HomeSweet8</string>
			<string>HomeSweet9</string>
			<string>HomeSweet10</string>
		</array>
		<key>packIcon</key>
		<string>sweethome</string>
		<key>packName</key>
		<string>SWEET HOME</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>magic1</string>
			<string>magic2</string>
			<string>magic3</string>
			<string>magic4</string>
			<string>magic5</string>
			<string>magic9</string>
			<string>magic6</string>
			<string>magic7</string>
			<string>magic8</string>
			<string>magic9</string>
			<string>magic10</string>
			<string>magic11</string>
			<string>magic12</string>
		</array>
		<key>packIcon</key>
		<string>magicworld</string>
		<key>packName</key>
		<string>MAGIC WORLD</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>update_7_25_3</string>
            <string>update_7_25_4</string>
            <string>update_7_25_5</string>
            <string>update_7_32_3</string>
            <string>update_7_32_4</string>
            <string>update_7_32_5</string>
			<string>garden1</string>
			<string>garden2</string>
			<string>garden3</string>
			<string>garden4</string>
			<string>garden5</string>
			<string>garden6</string>
			<string>garden7</string>
			<string>garden8</string>
			<string>garden10</string>
			<string>garden11</string>
		</array>
		<key>packIcon</key>
		<string>garden1</string>
		<key>packName</key>
		<string>GARDEN 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>garden12</string>
			<string>garden13</string>
			<string>garden14</string>
			<string>garden15</string>
			<string>garden16</string>
			<string>garden17</string>
			<string>garden18</string>
			<string>garden19</string>
			<string>garden20</string>
			<string>garden22</string>
		</array>
		<key>packIcon</key>
		<string>garden2</string>
		<key>packName</key>
		<string>GARDEN 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>Update_7_31_1</string>
            <string>Update_7_31_2</string>
            <string>Update_7_31_3</string>
            <string>Update_7_31_4</string>
            <string>Update_7_31_5</string>
            <string>Update_7_31_6</string>
			<string>autumn1</string>
			<string>autumn2</string>
			<string>autumn3</string>
			<string>autumn4</string>
			<string>autumn5</string>
			<string>Herbst1</string>
			<string>Herbst2</string>
			<string>Herbst3</string>
			<string>Herbst4</string>
			<string>Herbst5</string>
			<string>autumn28</string>
			<string>autumn29</string>
		</array>
		<key>packIcon</key>
		<string>autumn</string>
		<key>packName</key>
		<string>AUTUMN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
            <string>Update_7_31_7</string>
            <string>Update_7_31_8</string>
            <string>Update_7_35_1</string>
            <string>Update_7_35_2</string>
            <string>Update_7_35_3</string>
            <string>Update_7_35_4</string>
            <string>Update_7_35_5</string>
            <string>Update_7_36_1</string>
            <string>Update_7_36_2</string>
            <string>Update_7_36_3</string>
            <string>Update_7_36_4</string>
            <string>Update_7_36_5</string>
            <string>Update_7_37_1</string>
            <string>Update_7_37_2</string>
            <string>Update_7_37_3</string>
            <string>Update_7_37_4</string>
            <string>Update_7_37_5</string>
            <string>Update_7_37_6</string>
			<string>Christmas1</string>
			<string>Christmas2</string>
			<string>Christmas3</string>
			<string>Christmas4</string>
			<string>Christmas5</string>
			<string>Christmas6</string>
			<string>Christmas7</string>
			<string>Christmas8</string>
			<string>Christmas9</string>
			<string>Christmas10</string>
			<string>Christmas11</string>
			<string>Christmas12</string>
			<string>Christmas13</string>
			<string>Christmas14</string>
			<string>Christmas15</string>
		</array>
		<key>packIcon</key>
		<string>christmas</string>
		<key>packName</key>
		<string>CHRISTMAS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>food7stk</string>
			<string>food10stk</string>
			<string>food11stk</string>
			<string>food12stk</string>
			<string>food13stk</string>
			<string>food15stk</string>
			<string>food20stk</string>
			<string>food14stk</string>
			<string>food6stk</string>
			<string>food8stk</string>
		</array>
		<key>packIcon</key>
		<string>icecream</string>
		<key>packName</key>
		<string>ICE CREAM</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Landscape_1</string>
			<string>Landscape_2</string>
			<string>Landscape_3</string>
			<string>Landscape_4</string>
			<string>Landscape_5</string>
			<string>Landscape_6</string>
			<string>Landscape_7</string>
			<string>Landscape_8</string>
			<string>Landscape_9</string>
			<string>Landscape_10</string>
			<string>Landscape_11</string>
			<string>Landscape_12</string>
			<string>Landscape_13</string>
			<string>Landscape_14</string>
			<string>Landscape_15</string>
			<string>Landscape_16</string>
			<string>Landscape_17</string>
			<string>Landscape_18</string>
			<string>Landscape_19</string>
			<string>Landscape_20</string>
			<string>Landscape_21</string>
			<string>Landscape_22</string>
			<string>Landscape_23</string>
			<string>Landscape_24</string>
			<string>Landscape_25</string>
		</array>
		<key>packIcon</key>
		<string>landscapes</string>
		<key>packName</key>
		<string>LANDSCAPES</string>
	</dict>
</array>
</plist>
