<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Mandala5</string>
			<string>Mandala4</string>
			<string>Mandala6</string>
			<string>Mandala7</string>
			<string>Mandala8</string>
			<string>Mandala9</string>
			<string>Mandala10</string>
			<string>Mandala11</string>
			<string>Mandala12</string>
			<string>Mandala13</string>
			<string>Mandala14</string>
			<string>Mandala15</string>
			<string>MandalaR6</string>
			<string>MandalaR7</string>
			<string>MandalaR8</string>
			<string>MandalaR9</string>
			<string>MandalaR10</string>
			<string>Mandala_V2_1</string>
			<string>Mandala_V2_2</string>
			<string>Mandala_V2_3</string>
			<string>Mandala_V2_4</string>
			<string>Mandala_V2_5</string>
			<string>Mandala_V2_6</string>
			<string>Mandala_V2_7</string>
			<string>Mandala_V2_8</string>
			<string>MandalaV2_1</string>
			<string>MandalaV2_2</string>
			<string>MandalaV2_3</string>
			<string>MandalaV2_4</string>
			<string>MandalaV2_5</string>
		</array>
		<key>packIcon</key>
		<string>mandalas</string>
		<key>packName</key>
		<string>MANDALAS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>paisley6</string>
			<string>bird1</string>
			<string>bird2</string>
			<string>bird3</string>
			<string>bird4</string>
			<string>bird5</string>
			<string>bird6</string>
			<string>paisley3</string>
			<string>paisley4</string>
			<string>birdR1</string>
			<string>birdR2</string>
			<string>birdR3</string>
			<string>birdR4</string>
			<string>Pelikan</string>
			<string>Pfau</string>
			<string>birdIS7</string>
			<string>birdIS20</string>
		</array>
		<key>packIcon</key>
		<string>birds</string>
		<key>packName</key>
		<string>BIRDS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>cat2</string>
			<string>cat1</string>
			<string>cat4</string>
			<string>cat5</string>
			<string>cat6</string>
			<string>cat7</string>
			<string>cat8</string>
			<string>cat9</string>
			<string>cat10</string>
			<string>cat11</string>
		</array>
		<key>packIcon</key>
		<string>cats</string>
		<key>packName</key>
		<string>LOVELY CATS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Butterfly1</string>
			<string>Butterfly2</string>
			<string>Butterfly3</string>
			<string>Butterfly4</string>
			<string>paisley5</string>
			<string>animal5</string>
			<string>Butterfly5</string>
			<string>Butterfly6</string>
			<string>butterfly8</string>
			<string>butterfly9</string>
			<string>butterfly10</string>
			<string>butterfly7</string>
			<string>ButterflyIS1</string>
			<string>ButterflyIS2</string>
		</array>
		<key>packIcon</key>
		<string>butterflies</string>
		<key>packName</key>
		<string>BUTTERFLIES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal1</string>
			<string>animal2</string>
			<string>animal3</string>
			<string>animal4</string>
			<string>animal6</string>
			<string>sea1</string>
			<string>animalR1</string>
			<string>animalR2</string>
			<string>animalR3</string>
			<string>animalR4</string>
			<string>animalR5</string>
			<string>animalR6</string>
			<string>FOX</string>
			<string>Lion2</string>
		</array>
		<key>packIcon</key>
		<string>animals</string>
		<key>packName</key>
		<string>ANIMALS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Maske2</string>
			<string>Maske1</string>
			<string>Maske3</string>
			<string>Maske4</string>
			<string>Maske5</string>
			<string>Maske6</string>
			<string>Maske7</string>
			<string>Maske8</string>
			<string>Maske9</string>
			<string>Maske10</string>
		</array>
		<key>packIcon</key>
		<string>masks</string>
		<key>packName</key>
		<string>MASKS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Woman1</string>
			<string>Woman2</string>
			<string>Woman3</string>
			<string>Woman4</string>
			<string>Woman5</string>
			<string>Woman6</string>
			<string>Woman7</string>
			<string>Woman8</string>
			<string>Woman9</string>
			<string>Woman10</string>
			<string>Woman11</string>
			<string>Woman12</string>
			<string>Woman13</string>
			<string>Woman14</string>
			<string>Woman15</string>
		</array>
		<key>packIcon</key>
		<string>women</string>
		<key>packName</key>
		<string>WOMEN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>flower6</string>
			<string>flower7</string>
			<string>flower9</string>
			<string>flower8</string>
			<string>flower14</string>
			<string>flower5</string>
			<string>flower12</string>
			<string>flower15</string>
			<string>flower17</string>
			<string>flower20</string>
			<string>flower21</string>
			<string>flower22</string>
			<string>flowerR1</string>
			<string>flowerR2</string>
			<string>flowerR3</string>
			<string>flowerR10</string>
			<string>flowerR4</string>
			<string>flowerR5</string>
			<string>flowerR6</string>
			<string>flowerR7</string>
			<string>flowerR8</string>
			<string>flowerR9</string>
		</array>
		<key>packIcon</key>
		<string>flowers</string>
		<key>packName</key>
		<string>FLOWERS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>muster1</string>
			<string>muster2</string>
			<string>muster3</string>
			<string>muster4</string>
			<string>muster5</string>
			<string>muster6</string>
			<string>muster7</string>
			<string>muster8</string>
			<string>muster9</string>
			<string>muster10</string>
			<string>muster11</string>
			<string>muster12</string>
			<string>muster13</string>
			<string>muster14</string>
			<string>muster15</string>
			<string>muster16</string>
			<string>muster17</string>
			<string>muster18</string>
			<string>muster19</string>
			<string>muster20</string>
			<string>muster21</string>
			<string>muster22</string>
			<string>muster23</string>
			<string>muster24</string>
			<string>muster25</string>
		</array>
		<key>packIcon</key>
		<string>patterns</string>
		<key>packName</key>
		<string>PATTERNS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>sweets1</string>
			<string>sweets2</string>
			<string>sweets3</string>
			<string>sweets4</string>
			<string>sweets5</string>
			<string>sweets6</string>
			<string>sweets7</string>
			<string>sweets8</string>
			<string>sweets9</string>
			<string>sweets10</string>
			<string>sweets11</string>
			<string>sweets12</string>
			<string>sweets13</string>
			<string>sweets14</string>
			<string>sweets15</string>
		</array>
		<key>packIcon</key>
		<string>sweets</string>
		<key>packName</key>
		<string>SWEETS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>PixelArt2</string>
			<string>PixelArt3</string>
			<string>PixelArt4</string>
			<string>PixelArt1</string>
			<string>PixelArt5</string>
			<string>PixelArt6</string>
			<string>PixelArt7</string>
			<string>PixelArt8</string>
			<string>PixelArt9</string>
			<string>PixelArt10</string>
			<string>PixelArt11</string>
			<string>PixelArt12</string>
			<string>PixelArt13</string>
		</array>
		<key>packIcon</key>
		<string>pixelart</string>
		<key>packName</key>
		<string>PIXEL ART</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>fish1</string>
			<string>fish2</string>
			<string>fish3</string>
			<string>fish4</string>
			<string>fish5</string>
			<string>fish6</string>
			<string>fish7</string>
			<string>fish8</string>
			<string>fish9</string>
			<string>fish10</string>
			<string>fish11</string>
			<string>fish12</string>
			<string>fish13</string>
			<string>fish14</string>
			<string>fish15</string>
		</array>
		<key>packIcon</key>
		<string>ocean1</string>
		<key>packName</key>
		<string>OCEAN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal2stk</string>
			<string>bird3stk</string>
			<string>bird8stk</string>
			<string>doodle2stk</string>
			<string>flower2stk</string>
			<string>mandala7stk</string>
			<string>bird13stk</string>
			<string>food2stk</string>
			<string>love2stk</string>
			<string>mandala2stk</string>
		</array>
		<key>packIcon</key>
		<string>arttherapy</string>
		<key>packName</key>
		<string>ART THERAPY</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal4stk</string>
			<string>bird10stk</string>
			<string>doodle4stk</string>
			<string>bird5stk</string>
			<string>flower4stk</string>
			<string>sea4stk</string>
			<string>food4stk</string>
			<string>love4stk</string>
			<string>mandala4stk</string>
			<string>mandala9stk</string>
		</array>
		<key>packIcon</key>
		<string>chillout</string>
		<key>packName</key>
		<string>CHILLOUT</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal1stk</string>
			<string>bird1stk</string>
			<string>bird7stk</string>
			<string>doodle1stk</string>
			<string>flower1stk</string>
			<string>food1stk</string>
			<string>love1stk</string>
			<string>mandala1stk</string>
			<string>mandala6stk</string>
			<string>sea1stk</string>
		</array>
		<key>packIcon</key>
		<string>serenity</string>
		<key>packName</key>
		<string>SERENITY</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>SweetHome1</string>
			<string>SweetHome2</string>
			<string>SweetHome3</string>
			<string>SweetHome5</string>
			<string>SweetHome6</string>
			<string>HomeSweet1</string>
			<string>HomeSweet2</string>
			<string>HomeSweet3</string>
			<string>HomeSweet4</string>
			<string>HomeSweet5</string>
			<string>HomeSweet6</string>
			<string>HomeSweet8</string>
			<string>HomeSweet9</string>
			<string>HomeSweet10</string>
		</array>
		<key>packIcon</key>
		<string>sweethome</string>
		<key>packName</key>
		<string>SWEET HOME</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>autumn1</string>
			<string>autumn2</string>
			<string>autumn3</string>
			<string>autumn4</string>
			<string>autumn5</string>
			<string>Herbst1</string>
			<string>Herbst2</string>
			<string>Herbst3</string>
			<string>Herbst4</string>
			<string>Herbst5</string>
		</array>
		<key>packIcon</key>
		<string>autumn</string>
		<key>packName</key>
		<string>AUTUMN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Christmas1</string>
			<string>Christmas2</string>
			<string>Christmas3</string>
			<string>Christmas4</string>
			<string>Christmas5</string>
			<string>Christmas6</string>
			<string>Christmas7</string>
			<string>Christmas8</string>
			<string>Christmas9</string>
			<string>Christmas10</string>
			<string>Christmas11</string>
			<string>Christmas12</string>
			<string>Christmas13</string>
			<string>Christmas14</string>
			<string>Christmas15</string>
		</array>
		<key>packIcon</key>
		<string>christmas</string>
		<key>packName</key>
		<string>CHRISTMAS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>food7stk</string>
			<string>food10stk</string>
			<string>food11stk</string>
			<string>food12stk</string>
			<string>food13stk</string>
			<string>food15stk</string>
			<string>food20stk</string>
			<string>food14stk</string>
			<string>food6stk</string>
			<string>food8stk</string>
		</array>
		<key>packIcon</key>
		<string>icecream</string>
		<key>packName</key>
		<string>ICE CREAM</string>
	</dict>
</array>
</plist>
